<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-gb " }}">

	<head>
		<meta charset="UTF-8">
		<title>
			{{ site.title }} {% if page.title %} {{ page.title }} {% endif %}
		</title>

		{% if page.description %}
		<meta name="description" content="{{ page.description }}" /> {% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#9966331">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	</head>

	<body>
		<section class="main-content">
			{% if page.created %}
			<p class="post-date" title="{{ page.created | date: '%Y-%m-%d' }}">{{ page.created | date: '%B %Y' }}</p>
			{% endif %} {{ content }}
		</section>
	</body>

</html>
